<!-- <div class="container">
    <ngb-tabset>
      <ngb-tab title="Sweets">
        <template ngbTabContent></template>
      </ngb-tab>
      <ngb-tab title="Hot">
          <template ngbTabContent></template>
      </ngb-tab>
      <ngb-tab title="Ingredients">
          <template ngbTabContent></template>
      </ngb-tab>
      <ngb-tab title="Packages">
          <template ngbTabContent></template>
      </ngb-tab>
      <ngb-tab title="Offers">
          <template ngbTabContent></template>
      </ngb-tab>
      <ngb-tab title="FastestShipped">
          <template ngbTabContent></template>
      </ngb-tab>
    </ngb-tabset>
    
  </div> -->
  
  
  <div class="row top-buffer">
  <div class="col-sm-3 col-lg-3">
          <div class="card" >
              <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
                <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
              <div class="card-body">
                  <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
                <div class="row cardbodyrow">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                          Nutrition
                        </button>
                      </div>
                      <div class="col-sm-6">
                          <button type="button" class="btn btn-outline-secondary" placement="right"
                            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                            Ingredients
                          </button>
                      </div>
                      <div class="col-sm-6">
                          <button type="button" class="btn btn-outline-secondary" placement="right"
                            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                            Stores
                          </button>
                      </div>
                </div>
              </div>
            </div>
  </div>
  
  <div class="col-sm-3 col-lg-3">
      <div class="card" >
          <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
            <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
          <div class="card-body">
              <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
            <div class="row cardbodyrow">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                      Nutrition
                    </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Ingredients
                      </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Stores
                      </button>
                  </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="col-sm-3 col-lg-3">
      <div class="card" >
          <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
            <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
          <div class="card-body">
              <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
            <div class="row cardbodyrow">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                      Nutrition
                    </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Ingredients
                      </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Stores
                      </button>
                  </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="col-sm-3 col-lg-3">
      <div class="card" >
          <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
            <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
          <div class="card-body">
              <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
            <div class="row cardbodyrow">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                      Nutrition
                    </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Ingredients
                      </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Stores
                      </button>
                  </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="col-sm-3 col-lg-3">
      <div class="card" >
          <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
            <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
          <div class="card-body">
              <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
            <div class="row cardbodyrow">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                      Nutrition
                    </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Ingredients
                      </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Stores
                      </button>
                  </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="col-sm-3 col-lg-3">
      <div class="card" >
          <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
            <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
          <div class="card-body">
              <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
            <div class="row cardbodyrow">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                      Nutrition
                    </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Ingredients
                      </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Stores
                      </button>
                  </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="col-sm-3 col-lg-3">
      <div class="card" >
          <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
            <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
          <div class="card-body">
              <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
            <div class="row cardbodyrow">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                      Nutrition
                    </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Ingredients
                      </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Stores
                      </button>
                  </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="col-sm-3 col-lg-3">
      <div class="card" >
          <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
            <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
          <div class="card-body">
              <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
            <div class="row cardbodyrow">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                      Nutrition
                    </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Ingredients
                      </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Stores
                      </button>
                  </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="col-sm-3 col-lg-3">
      <div class="card" >
          <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
            <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
          <div class="card-body">
              <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
            <div class="row cardbodyrow">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                      Nutrition
                    </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Ingredients
                      </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Stores
                      </button>
                  </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="col-sm-3 col-lg-3">
      <div class="card" >
          <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
            <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
          <div class="card-body">
              <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
            <div class="row cardbodyrow">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                      Nutrition
                    </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Ingredients
                      </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Stores
                      </button>
                  </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="col-sm-3 col-lg-3">
      <div class="card" >
          <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
            <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
          <div class="card-body">
              <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
            <div class="row cardbodyrow">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                      Nutrition
                    </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Ingredients
                      </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Stores
                      </button>
                  </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="col-sm-3 col-lg-3">
      <div class="card" >
          <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
            <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
          <div class="card-body">
              <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
            <div class="row cardbodyrow">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                      Nutrition
                    </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Ingredients
                      </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Stores
                      </button>
                  </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="col-sm-3 col-lg-3">
      <div class="card" >
          <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
            <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
          <div class="card-body">
              <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
            <div class="row cardbodyrow">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                      Nutrition
                    </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Ingredients
                      </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Stores
                      </button>
                  </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="col-sm-3 col-lg-3">
      <div class="card" >
          <img class="card-img-top" src="assets\images\butterchicken.jpg" alt="Card image cap">
            <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
          <div class="card-body">
              <b><h5 class="card-title">Butter Chicken <ngb-rating [(rate)]="currentRate"></ngb-rating> </h5></b>
            <div class="row cardbodyrow">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary item-body-button" placement="bottom"
                      ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Nutrition">
                      Nutrition
                    </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Ingredients
                      </button>
                  </div>
                  <div class="col-sm-6">
                      <button type="button" class="btn btn-outline-secondary" placement="right"
                        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibus Vivamus sagittis lacus vel augue laoreet rutrum faucibusVivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Ingredients">
                        Stores
                      </button>
                  </div>
            </div>
          </div>
        </div>
  </div>
  </div>
  