<div class="row top-buffer">
    <div class="col-sm-8 col-lg-8">
<div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Items</h5>
          <p class="card-text">Items description will come here</p>
          <a [routerLink]="['items']" (click)="getItems()" class="btn btn-primary">Items</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Stores</h5>
          <p class="card-text">Stores description will come here</p>
          <a [routerLink]="['stores']" class="btn btn-primary">Stores</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Clothes</h5>
          <p class="card-text">Clothes Description willcome here</p>
          <a [routerLink]="['stores']" class="btn btn-primary">Clothes</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gifts</h5>
          <p class="card-text">Gifts description will come here</p>
          <a [routerLink]="['stores']" class="btn btn-primary">Gifts</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Events</h5>
          <p class="card-text">Events description will come here</p>
          <a [routerLink]="['stores']" class="btn btn-primary">Events</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sellers</h5>
          <p class="card-text">seller description will come here or this card will be removed and provide another way to navigate</p>
          <a [routerLink]="['seller']" class="btn btn-primary">Sellers</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
